= link_to group_path(group) do
  %span
    = group.name
  = link_to group_path(group), method: :delete do
    %i.fa.fa-sign-out{"aria-hidden" => "true"}
  = link_to edit_group_path(group) do
    %i.fa.fa-pencil-square-o{"aria-hidden" => "true"}
  %i.fa.fa-cog{"aria-hidden" => "true"}
