.content
  .left_content
    .main_character
      %h1 小崎優吏
      %i.fa.fa-cog{"aria-hidden" => "true"}
      %i.fa.fa-users{"aria-hidden" => "true"}
      %i.fa.fa-user-plus{"aria-hidden" => "true"}
      %i.fa.fa-user-circle{"aria-hidden" => "true"}
    .group_search
      %span グループを検索してください
      %i.fa.fa-search{"aria-hidden" => "true"}
    .groups_view
      %span グループ
      .group
        %h2 葺合同窓会
        %i.fa.fa-times{"aria-hidden" => "true"}
    .friends_view
      %span 友達
      .friend
        %h2 霜浦響
        %i.fa.fa-times{"aria-hidden" => "true"}
  .right_content
    .group_name
      %h1 葺合同窓会
      %i.fa.fa-pencil-square-o{"aria-hidden" => "true"}
      %i.fa.fa-sign-out{"aria-hidden" => "true"}
    .chat_view
      .chat
        %span 小崎優吏
        %p 09/13/19:47
        %span 今度いつ会える？
    .form_view
      %i.fa.fa-picture-o{"aria-hidden" => "true"}
      %i.fa.fa-paper-plane{"aria-hidden" => "true"}
