<div class="content">
  <div class="left_content">
    <div class="main_character">
      <h1>小崎優吏</h1>
      <i class="fa fa-cog" aria-hidden="true"></i>
      <i class="fa fa-users" aria-hidden="true"></i>
      <i class="fa fa-user-plus" aria-hidden="true"></i>
      <i class="fa fa-user-circle" aria-hidden="true"></i>
    </div>
    <div class="group_search">
      <span>グループを検索してください</span>
      <i class="fa fa-search" aria-hidden="true"></i>
    </div>
    <div class="groups_view">
      <span>グループ</span>
      <div class="group">
        <h2>葺合同窓会</h2>
        <i class="fa fa-times" aria-hidden="true"></i>
      </div>
    </div>
    <div class="friends_view">
      <span>友達</span>
      <div class="friend">
        <h2>霜浦響</h2>
        <i class="fa fa-times" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <div class="right_content">
    <div class="group_name">
      <h1>葺合同窓会</h1>
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      <i class="fa fa-sign-out" aria-hidden="true"></i>
    </div>
    <div class="chat_view">
      <div class="chat">
        <span>小崎優吏</span>
        <p>09/13/19:47</p>
        <span>今度いつ会える？</span>
      </div>
    </div>
    <div class="form_view">
      <i class="fa fa-picture-o" aria-hidden="true"></i>
      <i class="fa fa-paper-plane" aria-hidden="true"></i>
    </div>
  </div>
</div>
